@media  (min-width: 200px) and (max-width: 430px) {
    .header-wrapper{
        display: block;
    }
    .header-title{
        text-align: center;
    }
    .nav-header{
        padding-top: 2px;
        text-align: center;
        font-weight: 800;
    }
    .main-parts_part-image{
        width: 80vw;
    }
    .main-hello_title{
        margin-bottom: 5vh;
        font-size: 5vw;
        font-weight: 900;
    }
    .main-parts_part-title{
        font-size: 4vw;
        font-weight: 900;
        padding-top: 1vh;
    }
    .main-parts_part-description{
        padding-top: 1vh;
        font-weight: 400;
        padding-bottom: 2vh;
        font-size: 3vw;
    }
    html{
        background-image: url("../img/background.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 265%;
        width: 100vw;
        overflow-y: scroll;
    }
    .footer-copywrite{
        margin-top: 30px;
        text-align: center;
        font-size: 3vw;
    }
    .main-title{
        font-size: 5vw;
    }
}